<ds-entity-show *ngIf="entity"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[actions]="actions"
				(entityActionEmitter)="handleEntityEvent($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-3">
				<dl>
					<dt>UUID</dt>
					<dd><ds-clipboard-copy [copyContent]="entity.uuid">{{entity.uuid}}</ds-clipboard-copy></dd>
				</dl>
			</div>
		</div>

		<div *ngIf="taskLink" class="row">
			<div class="col-sm-12 col-sm-offset-3">
				<dl>
					<dt>{{ 'ds.microservices.entity.types.scenario' | translate }}</dt>
					<dd>
						<a [routerLink]="scenarioLink.routerLink">{{entity.scenario}}</a>
					</dd>
				</dl>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identity' | translate }}</dt>
					<dd>
						{{entity.identity}}
						<span *ngIf="identityPersonaEntity && identityPersonaEntity.data.firstName">({{ identityPersonaEntity.data.firstName }})</span>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identityUuid' | translate }}</dt>
					<dd>{{entity.identityUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.owner' | translate }}</dt>
					<dd>
						{{entity.owner}}
						<span *ngIf="ownerEntity">({{ ownerEntity.title[lang] }})</span>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.ownerUuid' | translate }}</dt>
					<dd>{{entity.ownerUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.createdAt' | translate }}</dt>
					<dd>{{entity.createdAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
			<div *ngIf="entity.deletedAt" class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.deletedAt' | translate }}</dt>
					<dd>{{entity.deletedAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
		</div>

		<!--<div class="row">-->
			<!--<div class="col-sm-12 col-sm-offset-3">-->
				<!--<dl>-->
					<!--<dt>{{ 'ds.microservices.entity.property.data' | translate }}</dt>-->
					<!--<dd>-->
						<!--<pre>{{entity.data | json}}</pre>-->
					<!--</dd>-->
				<!--</dl>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

	<!-- begin: ng-content[select=".additional-card"] -->
	<div *ngIf="entity.data" class="card entity-card additional-card animated fadeIn">
		<div class="card-header">
			<div class="row justify-content-between">
				<div class="col-sm-12">
					<h3 class="card-title mb-0">{{ 'ds.microservices.entity.property.data' | translate }}</h3>
				</div>
			</div>
		</div>

		<div class="card-block entity-body entity-data overflow-x-scroll">
			<div class="row">
				<div class="col-sm-12">
					<pre>{{ entity.data | json }}</pre>
				</div>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".additional-card"] -->

</ds-entity-show>
