<div class="card-columns">
	<div class="card no-shadow">
		<div class="card-header">
			<h3 class="card-title">Camunda</h3>
		</div>
		<div class="card-block">
			<table class="name-value-table">
				<tbody class="group1">
				<tr>
					<th scope="row">URL</th>
					<td><a href="{{hostPrefix}}:8055/camunda/app/welcome" target="_blank">{{hostPrefix}}:8055/camunda/app/welcome</a>
					</td>
				</tr>
				<tr>
					<th scope="row">User</th>
					<td>demo</td>
				</tr>
				<tr>
					<th scope="row">Password</th>
					<td>demo</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card no-shadow">
		<div class="card-header">
			<h3 class="card-title">Portal</h3>
		</div>
		<div class="card-block">
			<table class="name-value-table">
				<tbody class="group1">
				<tr>
					<th scope="row">Fixture (Authentication)</th>
					<td><a href="https://github.com/DigitalState/Authentication/blob/036a94a08ee65615e95c5ce4d9e26adebdb51c9c/src/AppBundle/Resources/data/dev/individual/users.yml" target="_blank">users.yml</a></td>
				</tr>
				<tr>
					<th scope="row">URL</th>
					<td><a href="{{hostPrefix}}:8000" target="_blank">{{hostPrefix}}:8000</a></td>
				</tr>
				<tr>
					<th scope="row">User</th>
					<td>morgan@site.com</td>
				</tr>
				<tr>
					<th scope="row">Password</th>
					<td>1</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card no-shadow">
		<div class="card-header">
			<h3 class="card-title">Formio</h3>
		</div>
		<div class="card-block">
			<table class="name-value-table">
				<tr>
					<th scope="row">URL</th>
					<td><a href="http://45.79.141.45:8056" target="_blank">http://45.79.141.45:8056</a></td>
				</tr>
				<tr>
					<th scope="row">User</th>
					<td>webmaster@digitalstate.ca</td>
				</tr>
				<tr>
					<th scope="row">Password</th>
					<td>changeme</td>
				</tr>
			</table>
		</div>
	</div>

</div>
