<div class="row">
	<div class="col-sm-6">
		<div class="form-group position-relative">
			<!--<md-select #appSelect [(ngModel)]="app" (change)="onAppSelectionChanged($event)" placeholder="{{ 'general.application' | translate }}" class="pt-3 pb-3" id="app-selector">-->
				<!--<md-option *ngFor="let a of apps | keyValue" [value]="a.key">-->
					<!--{{ a.value }}-->
				<!--</md-option>-->
			<!--</md-select>-->
			<span class="mr-2">{{ 'general.application' | translate }}</span>
			<div class="btn-group btn-group-primary">
				<button type="button" class="btn btn-secondary dropdown-toggle font-size-inherit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="">{{ 'general.' + app | translate }}</span>
					<span class="sr-only">{{ 'ds.microservices.entity.action.actions' | translate }}</span>
				</button>
				<div class="dropdown-menu">
					<button *ngFor="let a of apps | omit: app | keyValue"
							class="dropdown-item cursor-pointer"
							(click)="onAppSelectionChanged(a.key)">
						{{ a.value }}
					</button>
					<!--<button class="dropdown-item">xxx</button>-->
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!themeNotFound" class="col-sm-6 mb-3 align-right">
		<button [hidden]="spaId !== app" class="btn btn-secondary" (click)="reloadTheme()">{{ 'ds.microservices.entity.action.reload' | translate }}</button>
		<button class="btn btn-primary" (click)="formRef.ngSubmit.emit()">{{ 'ds.microservices.entity.action.save' | translate }}</button>
	</div>
</div>

<div *ngIf="themeNotFound" class="alert alert-danger">
	{{ 'ds.messages.themeNotFound' | translate }}
</div>

<!--<pre>form.dirty => {{ form.dirty }}</pre>-->
<form #formRef="ngForm" [formGroup]="form" (ngSubmit)="submit(form.value)" class="">
	<div class="card entity-card">
		<div class="card-header">
			<h3 class="card-title pt-2">{{ 'theme.global' | translate }}</h3>
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" formGroupName="global" [ngClass]="{'has-error': controlHasErrors('global.bgColor')}">
						<label class="col-form-label control-label">{{ 'theme.bgColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('global.bgColor')" (colorPickerChange)="setControlValue('global.bgColor', $event)" class="position-sm-relative h-100">
								<input formControlName="bgColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('global.bgColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('global.bgColor')" class="error-msg">
							<div [hidden]="!getControlErrors('global.bgColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="global" [ngClass]="{'has-error': controlHasErrors('global.textColor')}">
						<label class="col-form-label control-label">{{ 'theme.textColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('global.textColor')" (colorPickerChange)="setControlValue('global.textColor', $event)" class="position-sm-relative h-100">
								<input formControlName="textColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('global.textColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('global.textColor')" class="error-msg">
							<div [hidden]="!getControlErrors('global.textColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<!--<div class="form-group" formGroupName="global">-->
						<!--&lt;!&ndash;<label class="col-form-label control-label">{{ 'theme.colorScheme' | translate }}</label>&ndash;&gt;-->
						<!--<md-select formControlName="colorScheme" placeholder="{{ 'theme.colorScheme' | translate }}" class="w-100 pt-3">-->
							<!--<md-option *ngFor="let colorScheme of colorSchemes | keyValue" [value]="colorScheme.key">-->
								<!--{{ 'theme.' + colorScheme.key | translate }}-->
							<!--</md-option>-->
						<!--</md-select>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>

	<div class="card entity-card">
		<div class="card-header">
			<h3 class="card-title pt-2">{{ 'theme.header' | translate }}</h3>
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.bgColor')}">
						<label class="col-form-label control-label">{{ 'theme.bgColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.bgColor')" (colorPickerChange)="setControlValue('header.bgColor', $event)" class="position-sm-relative h-100">
								<input formControlName="bgColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.bgColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.bgColor')" class="error-msg">
							<div [hidden]="!getControlErrors('header.bgColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.textColor')}">
						<label class="col-form-label control-label">{{ 'theme.textColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.textColor')" (colorPickerChange)="setControlValue('header.textColor', $event)" class="position-sm-relative h-100">
								<input formControlName="textColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.textColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.textColor')" class="error-msg">
							<div [hidden]="!getControlErrors('header.textColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.linkHoverColor')}">
						<label class="col-form-label control-label">{{ 'theme.linkHoverColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.linkHoverColor')" (colorPickerChange)="setControlValue('header.linkHoverColor', $event)" class="position-sm-relative h-100">
								<input formControlName="linkHoverColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.linkHoverColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.linkHoverColor')" class="error-msg">
							<div [hidden]="!getControlErrors('header.linkHoverColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.dropdownBgColor')}">
						<label class="col-form-label control-label">{{ 'theme.dropdown' | translate }} ({{ 'theme.bgColor' | translate }})</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.dropdownBgColor')" (colorPickerChange)="setControlValue('header.dropdownBgColor', $event)" class="position-sm-relative h-100">
								<input formControlName="dropdownBgColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.dropdownBgColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.dropdownBgColor')" class="error-msg">
							<div [hidden]="!getControlErrors('header.dropdownBgColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.dropdownTextColor')}">
						<label class="col-form-label control-label">{{ 'theme.dropdown' | translate }} ({{ 'theme.textColor' | translate }})</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.dropdownTextColor')" (colorPickerChange)="setControlValue('header.dropdownTextColor', $event)" class="position-sm-relative h-100">
								<input formControlName="dropdownTextColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.dropdownTextColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.dropdownTextColor')" class="error-msg">
							<div [hidden]="!getControlErrors('header.dropdownTextColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.dropdownHighlight')}">
						<label class="col-form-label control-label">{{ 'theme.dropdown' | translate }} ({{ 'theme.highlight' | translate }})</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('header.dropdownHighlight')" (colorPickerChange)="setControlValue('header.dropdownHighlight', $event)" class="position-sm-relative h-100">
								<input formControlName="dropdownHighlight" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('header.dropdownHighlight')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('header.dropdownHighlight')" class="error-msg">
							<div [hidden]="!getControlErrors('header.dropdownHighlight').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.logoMaxWidth')}">
						<label class="col-form-label control-label">{{ 'theme.logoMaxWidth' | translate }} (px)</label>
						<input formControlName="logoMaxWidth" class="form-control" type="number"/>
						<div *ngIf="controlHasErrors('header.logoMaxWidth')" class="error-msg">
							<div [hidden]="!getControlErrors('header.logoMaxWidth').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.logoMaxWidthSm')}">
						<label class="col-form-label control-label">{{ 'theme.logoMaxWidthSm' | translate }} (px)</label>
						<input formControlName="logoMaxWidthSm" class="form-control" type="number"/>
						<div *ngIf="controlHasErrors('header.logoMaxWidthSm')" class="error-msg">
							<div [hidden]="!getControlErrors('header.logoMaxWidthSm').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 pt-3 form-inline">
					<div class="form-group" formGroupName="header" [ngClass]="{'has-error': controlHasErrors('header.showProfilePic')}">
						<md-checkbox formControlName="showProfilePic" class="">
							{{ 'theme.showProfilePic' | translate }}
						</md-checkbox>
						<div *ngIf="controlHasErrors('header.showProfilePic')" class="error-msg">
							<div [hidden]="!getControlErrors('header.showProfilePic').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card entity-card">
		<div class="card-header">
			<h3 class="card-title pt-2">{{ 'theme.sidebar' | translate }}</h3>
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" formGroupName="sidebar" [ngClass]="{'has-error': controlHasErrors('sidebar.bgColor')}">
						<label class="col-form-label control-label">{{ 'theme.bgColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('sidebar.bgColor')" (colorPickerChange)="setControlValue('sidebar.bgColor', $event)" class="position-sm-relative h-100">
								<input formControlName="bgColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('sidebar.bgColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('sidebar.bgColor')" class="error-msg">
							<div [hidden]="!getControlErrors('sidebar.bgColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="sidebar" [ngClass]="{'has-error': controlHasErrors('sidebar.textColor')}">
						<label class="col-form-label control-label">{{ 'theme.textColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('sidebar.textColor')" (colorPickerChange)="setControlValue('sidebar.textColor', $event)" class="position-sm-relative h-100">
								<input formControlName="textColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('sidebar.textColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('sidebar.textColor')" class="error-msg">
							<div [hidden]="!getControlErrors('sidebar.textColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="sidebar" [ngClass]="{'has-error': controlHasErrors('sidebar.linkHoverColor')}">
						<label class="col-form-label control-label">{{ 'theme.linkHoverColor' | translate }}</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('sidebar.linkHoverColor')" (colorPickerChange)="setControlValue('sidebar.linkHoverColor', $event)" class="position-sm-relative h-100">
								<input formControlName="linkHoverColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('sidebar.linkHoverColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('sidebar.linkHoverColor')" class="error-msg">
							<div [hidden]="!getControlErrors('sidebar.linkHoverColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card entity-card">
		<div class="card-header">
			<h3 class="card-title pt-2">{{ 'theme.auth' | translate }}</h3>
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" formGroupName="auth" [ngClass]="{'has-error': controlHasErrors('auth.formBgColor')}">
						<label class="col-form-label control-label">{{ 'theme.form' | translate }} ({{ 'theme.bgColor' | translate }})</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('auth.formBgColor')" (colorPickerChange)="setControlValue('auth.formBgColor', $event)" class="position-sm-relative h-100">
								<input formControlName="formBgColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('auth.formBgColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('auth.formBgColor')" class="error-msg">
							<div [hidden]="!getControlErrors('auth.formBgColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="auth" [ngClass]="{'has-error': controlHasErrors('auth.formTextColor')}">
						<label class="col-form-label control-label">{{ 'theme.form' | translate }} ({{ 'theme.textColor' | translate }})</label>
						<div class="position-relative">
							<div [colorPicker]="getControlValue('auth.formTextColor')" (colorPickerChange)="setControlValue('auth.formTextColor', $event)" class="position-sm-relative h-100">
								<input formControlName="formTextColor" class="form-control"/>
								<span class="color-preview" [style.background]="getControlValue('auth.formTextColor')"></span>
							</div>
						</div>
						<div *ngIf="controlHasErrors('auth.formTextColor')" class="error-msg">
							<div [hidden]="!getControlErrors('auth.formTextColor').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group" formGroupName="auth" [ngClass]="{'has-error': controlHasErrors('auth.logoMaxWidth')}">
						<label class="col-form-label control-label">{{ 'theme.logoMaxWidth' | translate }} (px)</label>
						<input formControlName="logoMaxWidth" class="form-control" type="number"/>
						<div *ngIf="controlHasErrors('auth.logoMaxWidth')" class="error-msg">
							<div [hidden]="!getControlErrors('auth.logoMaxWidth').required">{{ 'ds.microservices.entity.validation.required' | translate }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<pre>Theme Data: {{ theme | json }}</pre>-->
	<!--<pre>Metadata: {{ metadata | json }}</pre>-->
	<!--<pre>Form value: {{ form.value | json }}</pre>-->
</form>