<form [formGroup]="form" id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
	<div *ngFor="let translationSlug of translationSlugs" class="card entity-card collapsed animated fadeIn">
		<div class="card-header">
			<div class="row justify-content-between">
				<div class="col-sm-12">
					<div class="m-0 float-right zindex-1 position-relative">
						<a data-toggle="collapse"
						   data-parent="#accordion"
						   href="#collapse-{{ translationSlug }}"
						   class="btn btn-default btn-icon collapsed">
							<i class="ion-plus show-on-collapse"></i>
							<i class="ion-minus hide-on-collapse"></i>
						</a>
					</div>
					<h3 class="card-title pt-2">{{ 'general.' + translationSlug | translate }}</h3>
				</div>
			</div>
		</div>

		<div id="collapse-{{ translationSlug }}" class="card-block collapse">
			<div class="form-group mb-0">
				<textarea [formControlName]="translationSlug" class="form-control code h-100" rows="15" json></textarea>
				<button type="button"  (click)="saveTranslation(translationSlug)"
						[disabled]="saveInProgress"
						[ladda]="saveInProgress"
						class="btn btn-primary mt-3">
					{{'ds.microservices.entity.action.save' | translate}}
				</button>
			</div>
		</div>
	</div>
</form>

<div id="accordion-active-translations" class="accordion" role="tablist" aria-multiselectable="true">
	<div class="card entity-card no-shadow animated fadeIn">
		<div class="card-header">
			<div class="row justify-content-between">
				<div class="col-sm-12">
					<button (click)="reloadTranslations()" type="button"
							class="btn btn-default float-right zindex-1 position-relative">
						{{ 'ds.microservices.entity.action.reload' | translate }}
					</button>
					<!--<div class="m-0 float-right zindex-1 position-relative">-->
						<!--<a data-toggle="collapse"-->
						   <!--data-parent="#accordion-active-translations"-->
						   <!--href="#collapse-active-translations"-->
						   <!--class="btn btn-default btn-icon">-->
							<!--<i class="ion-plus show-on-collapse"></i>-->
							<!--<i class="ion-minus hide-on-collapse"></i>-->
						<!--</a>-->
					<!--</div>-->
					<h3 class="card-title pt-2">{{ 'general.activeTranslation' | translate }}</h3>
				</div>
			</div>
		</div>

		<div id="collapse-active-translations" class="card-block collapse show">
			<pre class="code">{{ activeTranslations | json }}</pre>
		</div>
	</div>
</div>