<ds-entity-form *ngIf="entity && formLang"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[isNew]="isNew"
				(onFormInit)="onFormInit($event)"
				(onFormChange)="onFormChange($event)"
				(onFormSubmit)="onFormSubmit($event)"
				(onFormCancel)="onFormCancel($event)"
				(onFormLanguageChange)="onFormLanguageChange($event)"
>

	<div class="card-block">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="title">{{ 'ds.microservices.entity.property.title' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="title" name="title" type="text" [(ngModel)]="entity.title[formLang]" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.title" class="alert alert-danger">
						{{ formErrors.title }}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group required">
					<label for="slug">{{ 'ds.microservices.entity.property.slug' | staticTranslate:[formLang] }}</label>
					<input id="slug" name="slug" type="text" [(ngModel)]="entity.slug" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.slug" class="alert alert-danger">
						{{ formErrors.slug }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group required translatable">
					<label for="value">{{ 'ds.microservices.entity.property.value' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<textarea id="value" name="value" type="text" [(ngModel)]="entity.value[formLang]" class="form-control" placeholder="" required></textarea>
					<div *ngIf="formErrors.value" class="alert alert-danger">
						{{ formErrors.value }}
					</div>
				</div>
			</div>
		</div>

		<div class="card-header pl-0 mt-3 mb-3">
			<h3 class="card-title mb-0">{{ 'ds.microservices.entity.property.ownershipHeader' | translate }}</h3>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required">
					<label for="ownerUuid">
						{{ 'ds.microservices.entity.property.owner' | staticTranslate:[formLang] }}
						({{ 'ds.microservices.entity.types.businessUnit' | staticTranslate:[formLang] }})
					</label>
					<owner-select id="ownerUuid" name="ownerUuid" [(ngModel)]="entity.ownerUuid" [language]="formLang" required class="d-block"></owner-select>
					<div *ngIf="formErrors.ownerUuid" class="alert alert-danger">
						{{ formErrors.ownerUuid }}
					</div>
				</div>
			</div>
		</div>
	</div>
</ds-entity-form>
