@import '../../theme/sass/conf/conf';

.card.entity-card {
  .card-header, .card-footer {
    height: auto;
    ul.btn-list {
      padding-top: 0;

      li {

      }
    }
  }

  .card-footer {
    border-bottom: none;
  }
}

.back-link {
  line-height: 1em;
  //min-height: 1em;
  padding-bottom: 13px;
}
