<back-link *ngIf="backLink" [link]="backLink"></back-link>
<div class="card entity-card">
	<div class="card-header">
		<div class="row justify-content-between">
			<div class="card-title-container col-sm-6">
				<h3 class="card-title" ng-reflect-translate="" translate>{{headerTitle}}</h3>
				<h4 *ngIf="headerSubtitle" class="card-subtitle" ng-reflect-translate="" translate>{{headerSubtitle}}</h4>
				<!--<div class="form-group">-->
					<!--<input type="text" class="form-control" placeholder="Type to filter by title ..." (keyup)="updateFilter($event)" />-->
				<!--</div>-->
			</div>
			<div class="col-sm-6 mt-3 mt-sm-0">
				<div class="container">
					<ul class="row header-actions-list btn-list clearfix">
						<li *ngFor="let action of headerActions">
							<button [hidden]="!action.visible" class="{{ action.class }}" (click)="emitHeaderAction(action)">
								<i class="{{ action.iconClass }}">{{ action.title | translate}}</i>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="card-block p-0">
		<ng-content></ng-content>
	</div>
</div>
