<form #entityForm="ngForm" *ngIf="active" (ngSubmit)="onSubmit()">
	<div *ngIf="entity" class="card entity-card animated fadeIn">
		<div class="card-header border-bottom-0">
			<div class="row justify-content-between">
				<div class="card-title-container col-sm-6">
					<back-link *ngIf="backLink" [link]="backLink"></back-link>
					<h3 class="card-title" translate="" ng-reflect-translate="">
						{{headerTitle}}
						<span class="badge badge-default badge-pill font-weight-normal text-capitalize align-top ml-3">
							{{ (isNew ? 'general.new' : 'ds.microservices.entity.action.edit') | translate }}
						</span>
					</h3>
					<h4 *ngIf="headerSubtitle" class="card-subtitle" translate="" ng-reflect-translate="">{{headerSubtitle}}</h4>
				</div>
				<div class="col-sm-6">
					<div class="container">
						<ul class="row btn-list clearfix float-right">
							<li class="col-12">
								<button type="submit" class="btn btn-primary btn-with-icon"><i class="ion-checkmark-circled">{{'ds.microservices.entity.action.save' | translate}}</i></button>
								<button type="button" (click)="cancelForm()" class="btn btn-secondary">{{'ds.microservices.entity.action.cancel' | translate}}</button>
							</li>
							<!--li class="col-sm-6 align-right">
								<button *ngIf="!isNew" (click)="deleteEntity()" type="button" class="btn btn-danger btn-with-icon"><i class="ion-android-delete">Delete</i></button>
							</li-->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Form Language Switch -->
		<ds-language-switcher-tabs [languages]="formLanguages"
								   [currentLanguage]="formLang"
								   [canUpdateTabsOnSwitch]="canSwitchLanguage"
								   (onLanguageChange)="switchLang($event)"></ds-language-switcher-tabs>

		<ng-content></ng-content>

	</div>
</form>