<ds-entity-show *ngIf="entity"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[actions]="actions"
				(onDelete)="onDelete($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>UUID</dt>
					<dd>{{entity.uuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.title' | translate }}</dt>
					<dd>{{entity.title | entityTranslate}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identity' | translate }}</dt>
					<dd>
						{{entity.identity}}
						<span *ngIf="identityPersonaEntity && identityPersonaEntity.data.firstName">({{ identityPersonaEntity.data.firstName }})</span>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identityUuid' | translate }}</dt>
					<dd>{{entity.identityUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.owner' | translate }}</dt>
					<dd>
						{{entity.owner}}
						<span *ngIf="ownerEntity">({{ ownerEntity.title | entityTranslate }})</span>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.ownerUuid' | translate }}</dt>
					<dd>{{entity.ownerUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.data' | translate }}</dt>
					<dd><pre>{{entity.data | json}}</pre></dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.status' | translate }}</dt>
					<dd><pre>{{entity.statuses | json}}</pre></dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

</ds-entity-show>
