<ds-entity-list>
	<ngx-datatable #datatable
				   class="material"
				   [rows]="rows"
				   [columns]="columns"
				   [columnMode]="'force'"
				   [headerHeight]="70"
				   [footerHeight]="50"
				   [rowHeight]="'auto'"
				   [externalPaging]="true"
				   [count]="pager.totalItems"
				   [offset]="pager.pageNumber"
				   [limit]="pager.size"
				   (page)="setPage($event)">
	</ngx-datatable>
</ds-entity-list>

<ng-template #headerTpl let-column="column" let-sort="sortFn">
	<ds-datatable-header [column]="column" (onFilterValueChange)="onFilterValueChange($event)"></ds-datatable-header>
</ng-template>

<ng-template #textCellTpl let-row="row" let-value="value">
	<ds-datatable-cell [row]="row" [value]="value"></ds-datatable-cell>
</ng-template>

<ng-template #actionsTpl let-column="column" let-row="row">
	<ds-datatable-cell-actions [row]="row"></ds-datatable-cell-actions>
</ng-template>


