<ds-entity-show *ngIf="entity"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[actions]="actions"
				(entityActionEmitter)="handleEntityEvent($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>UUID</dt>
					<dd><ds-clipboard-copy [copyContent]="entity.uuid">{{entity.uuid}}</ds-clipboard-copy></dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.owner' | translate }}</dt>
					<dd>
						{{entity.owner}}
						<span *ngIf="ownerEntity">({{ ownerEntity.title | entityTranslate }})</span>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.ownerUuid' | translate }}</dt>
					<dd>{{entity.ownerUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.createdAt' | translate }}</dt>
					<dd>{{entity.createdAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.updatedAt' | translate }}</dt>
					<dd>{{entity.updatedAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
			<div *ngIf="entity.deletedAt" class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.deletedAt' | translate }}</dt>
					<dd>{{entity.deletedAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
		</div>

		<div *ngIf="userLinks && userLinks.length > 0" class="row">
			<div class="col-sm-12">
				<dl>
					<dt>{{ 'ds.microservices.entity.types.user' | translate }}</dt>
					<dd>
						<a *ngFor="let userLink of userLinks" [routerLink]="userLink.routerLink">{{ userLink.title }}</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

	<!-- begin: ng-content[select=".additional-card"] -->
	<div class="additional-card">
		<ds-persona-list [entityParent]="entity" [entityParentSingular]="identitySingularName"></ds-persona-list>
	</div>
	<!-- end: ng-content[select=".additional-card"] -->
</ds-entity-show>
