<div class="card-body">
	<ngx-datatable
			class="material"
			[columnMode]="'force'"
			[rows]="rows"
			[columns]="columns"
	>
		<!--<ngx-datatable-column name="Actions">-->
		<!--<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>-->
		<!--<span (click)="sort()">{{column.name}}</span>-->
		<!--</ng-template>-->
		<!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
		<!--My name is: <i [innerHTML]="row['name']"></i> and <i>{{value}}</i>-->
		<!--<div>{{joke}}</div>-->
		<!--</ng-template>-->
		<!--</ngx-datatable-column>-->
	</ngx-datatable>

	<ng-template #headerTpl let-column="column" let-sort="sortFn" >
		<strong (click)="sort()">{{column.name}}</strong>
	</ng-template>

	<ng-template #textCellTpl let-row="row" let-value="value">
		{{row.title}}
	</ng-template>

	<ng-template #actionsTpl let-column="column" let-row="row">
		<ul class="btn-list clearfix">
			<li>
				<button [routerLink]="[row.uuid, 'show']" type="button" class="btn btn-default btn-with-icon"><i class="ion-android-download">Show</i></button>
			</li>
			<li>
				<button [routerLink]="[row.uuid, 'edit']" type="button" class="btn btn-default btn-with-icon"><i class="ion-stats-bars">Edit</i></button>
			</li>
		</ul>
		<!--<a routerLink="{{row.uuid}}/show">Show</a>-->
		<!--<a routerLink="{{row.uuid}}/edit">Edit</a>-->
	</ng-template>
	<!--<formio src="http://localhost:3001/bookorder"></formio>-->
</div>
