<ds-entity-show *ngIf="entity"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[actions]="actions"
				(entityActionEmitter)="handleEntityEvent($event)">

	<!-- begin: ng-content[select="button.entity-action"] -->
	<!-- end: ng-content[select="button.entity-action"] -->

	<!-- begin: ng-content[select=".entity-body"] -->
	<div class="card-block entity-body entity-data">
		<div class="row">
			<div class="col-sm-12">
				<dl>
					<dt>UUID</dt>
					<dd><ds-clipboard-copy [copyContent]="entity.uuid">{{entity.uuid}}</ds-clipboard-copy></dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.username' | translate }}</dt>
					<dd>{{entity.username}}</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.email' | translate }}</dt>
					<dd>{{entity.email}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identity' | translate }}</dt>
					<dd *ngIf="identityLink">
						<a [routerLink]="identityLink?.routerLink">{{entity.identity}}</a>
					</dd>
					<dd *ngIf="!identityLink">
						<a>{{entity.identity}}</a>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.identityUuid' | translate }}</dt>
					<dd>{{entity.identityUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.owner' | translate }}</dt>
					<dd>
						<identity-link [identityType]="entity.owner" [identityUuid]="entity.ownerUuid" [language]="lang"></identity-link>
					</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.ownerUuid' | translate }}</dt>
					<dd>{{entity.ownerUuid}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.createdAt' | translate }}</dt>
					<dd>{{entity.createdAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
			<div class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.updatedAt' | translate }}</dt>
					<dd>{{entity.updatedAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div *ngIf="entity.deletedAt" class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.deletedAt' | translate }}</dt>
					<dd>{{entity.deletedAt | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
			<div *ngIf="entity.lastLogin" class="col-sm-6">
				<dl>
					<dt>{{ 'ds.microservices.entity.property.deletedAt' | translate }}</dt>
					<dd>{{entity.lastLogin | amLocal | amDateFormat: config.date.format.long }}</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- end: ng-content[select=".entity-body"] -->

</ds-entity-show>
