<ds-entity-form *ngIf="entity && formLang"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[isNew]="isNew"
				[formLang]="formLang"
				[formLanguages]="formLanguages"
				[canSwitchLanguage]="canSwitchLanguage"
				(onFormInit)="onFormInit($event)"
				(onFormChange)="onFormChange($event)"
				(onFormSubmit)="onFormSubmit($event)"
				(onFormCancel)="onFormCancel($event)"
				(onFormLanguageChange)="onFormLanguageChange($event)"
>
	<div class="card-block">
		<div *ngIf="!isNew" class="row">
			<div class="col">
				<div class="form-group">
					<Label>UUID</Label>
					<div class="entity-uuid form-control" disabled>{{entity.uuid}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="title">{{ 'ds.microservices.entity.property.title' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="title" name="title" type="text" [(ngModel)]="entity.title[formLang]" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.title" class="alert alert-danger">
						{{ formErrors.title }}
					</div>
				</div>
				<div class="form-group required">
					<label for="slug">{{ 'ds.microservices.entity.property.slug' | staticTranslate:[formLang] }}</label>
					<input id="slug" name="slug" type="text" [(ngModel)]="entity.slug" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.slug" class="alert alert-danger">
						{{ formErrors.slug }}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="description">{{ 'ds.microservices.entity.property.description' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="description" name="description" type="text" [(ngModel)]="entity.description[formLang]" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.description" class="alert alert-danger">
						{{ formErrors.description }}
					</div>
				</div>
				<div class="form-group required">
					<label for="weight">{{ 'ds.microservices.entity.property.weight' | staticTranslate:[formLang] }}</label>
					<input id="weight" name="weight" type="number" [(ngModel)]="entity.weight" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.weight" class="alert alert-danger">
						{{ formErrors.weight }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group required translatable">
					<label for="presentation">{{ 'ds.microservices.entity.property.presentation' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<textarea id="presentation" name="presentation" type="text" [(ngModel)]="entity.presentation[formLang]" class="form-control" placeholder="" required></textarea>
					<div *ngIf="formErrors.presentation" class="alert alert-danger">
						{{ formErrors.presentation }}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required">
					<label for="url">{{ 'ds.microservices.entity.property.url' | staticTranslate:[formLang] }}</label>
					<input id="url" name="url" type="text" [(ngModel)]="entity.config.url" class="form-control" required>
					<div *ngIf="formErrors.url" class="alert alert-danger">
						{{ formErrors.url }}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="button-text">{{ 'ds.microservices.entity.property.button_text' | staticTranslate:[formLang] }}</label>
					<input id="button-text" name="button_text" type="text" [(ngModel)]="entity.data[formLang].button_text" class="form-control" required>
					<div *ngIf="formErrors.button_text" class="alert alert-danger">
						{{ formErrors.button_text }}
					</div>
				</div>
			</div>
		</div>
	</div>
</ds-entity-form>
