<ds-entity-form *ngIf="entity && (entity.uuid || isNew) && formLang"
				[entity]="entity"
				[backLink]="backLink"
				[headerTitle]="headerTitle"
				[headerSubtitle]="headerSubtitle"
				[isNew]="isNew"
				(onFormInit)="onFormInit($event)"
				(onFormChange)="onFormChange($event)"
				(onFormSubmit)="onFormSubmit($event)"
				(onFormCancel)="onFormCancel($event)"
				(onFormLanguageChange)="onFormLanguageChange($event)"
>
	<div class="card-block">
		<div *ngIf="!isNew" class="row">
			<div class="col">
				<div class="form-group">
					<Label>UUID</Label>
					<div class="entity-uuid form-control" disabled>{{entity.uuid}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="title">{{ 'ds.microservices.entity.property.title' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="title" name="title" type="text" [(ngModel)]="entity.title[formLang]" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.title" class="alert alert-danger">
						{{ formErrors.title }}
					</div>
				</div>
				<div class="form-group required">
					<label for="slug">{{ 'ds.microservices.entity.property.slug' | staticTranslate:[formLang] }}</label>
					<input id="slug" name="slug" type="text" [(ngModel)]="entity.slug" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.slug" class="alert alert-danger">
						{{ formErrors.slug }}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="description">{{ 'ds.microservices.entity.property.description' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="description" name="description" type="text" [(ngModel)]="entity.description[formLang]" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.description" class="alert alert-danger">
						{{ formErrors.description }}
					</div>
				</div>
				<div class="form-group required">
					<label for="weight">{{ 'ds.microservices.entity.property.weight' | staticTranslate:[formLang] }}</label>
					<input id="weight" name="weight" type="number" [(ngModel)]="entity.weight" class="form-control" placeholder="" required>
					<div *ngIf="formErrors.weight" class="alert alert-danger">
						{{ formErrors.weight }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group required translatable">
					<label for="presentation">{{ 'ds.microservices.entity.property.presentation' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<textarea id="presentation" name="presentation" type="text" [(ngModel)]="entity.presentation[formLang]" class="form-control" placeholder="" required></textarea>
					<div *ngIf="formErrors.presentation" class="alert alert-danger">
						{{ formErrors.presentation }}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required">
					<label for="process-definition-key">{{ 'ds.microservices.entity.property.process_definition_key' | staticTranslate:[formLang] }}</label>
					<input id="process-definition-key" name="process_definition_key" type="text" [(ngModel)]="entity.config.process_definition_key" class="form-control" required>
					<div *ngIf="formErrors.process_definition_key" class="alert alert-danger">
						{{ formErrors.process_definition_key }}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group required translatable">
					<label for="button-text">{{ 'ds.microservices.entity.property.button_text' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<input id="button-text" name="button_text" type="text" [(ngModel)]="entity.data[formLang].button_text" class="form-control" required>
					<div *ngIf="formErrors.button_text" class="alert alert-danger">
						{{ formErrors.button_text }}
					</div>
				</div>
			</div>
		</div>

		<div class="card-header pl-0 mt-3 mb-3">
			<h3 class="card-title mb-0">{{ 'ds.microservices.entity.property.ownershipHeader' | translate }}</h3>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group required">
					<label for="ownerUuid">
						{{ 'ds.microservices.entity.property.owner' | staticTranslate:[formLang] }}
						({{ 'ds.microservices.entity.types.businessUnit' | staticTranslate:[formLang] }})
					</label>
					<owner-select id="ownerUuid" name="ownerUuid" [(ngModel)]="entity.ownerUuid" [language]="formLang" required class="d-block"></owner-select>
					<div *ngIf="formErrors.ownerUuid" class="alert alert-danger">
						{{ formErrors.ownerUuid }}
					</div>
				</div>
			</div>
		</div>

		<div class="card-header pl-0 mt-3 mb-3">
			<h3 class="card-title mb-0">{{ 'ds.microservices.entity.property.custom_data' | translate }}</h3>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<input id="enable-custom-variables" name="enable_custom_variables" type="checkbox" [(ngModel)]="entity.config.process_custom_data.enable_custom_variables" class="form-control d-inline-block w-auto">
					<label for="enable-custom-variables" class="w-auto">{{ 'ds.microservices.entity.property.enable_custom_variables' | staticTranslate:[formLang] }}</label>
					<div *ngIf="formErrors.enable_custom_variables" class="alert alert-danger">
						{{ formErrors.enable_custom_variables }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!--<div class="col-sm-6">-->
				<!--<div class="form-group">-->
					<!--<label for="variable-name">{{ 'ds.microservices.entity.property.variable_name' | staticTranslate:[formLang] }}</label>-->
					<!--<input id="variable-name" name="variable_name" type="text" [(ngModel)]="entity.config.process_custom_data.variable_name" class="form-control">-->
					<!--<div *ngIf="formErrors.variable_name" class="alert alert-danger">-->
						<!--{{ formErrors.variable_name }}-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="col-sm-12">
				<div class="form-group required">
					<label for="variable-value">{{ 'ds.microservices.entity.property.variable_value' | staticTranslate:[formLang] }}</label>
					<translatable-icon></translatable-icon>
					<textarea id="variable-value" name="variable_value" type="text" [(ngModel)]="entity.config.process_custom_data.variable_value" class="form-control" placeholder="" json></textarea>
					<div *ngIf="formErrors.variable_value" class="alert alert-danger">
						{{ formErrors.variable_value }}
					</div>
				</div>
			</div>
		</div>
	</div>
</ds-entity-form>
